<!--
	#help			{position: absolute; top: 30px; left: 34px; display: none; width:95%; z-index: 66; font-size:100%;}
	td.loginForm		{font-size: 90%; border: 1px solid #666666; border-right-color:black; border-bottom-color:black; background-color: #F4EADE; margin:110px; }
	td.loginForm td		{font-size: 90%;}
	td.loginForm div	{margin-bottom: 0.5em;}
	td.loginForm a		{color: #666666;}
--!>