html{
scrollbar-base-color: #f0f0f0;
scrollbar-face-color: #f0f0f0;
scrollbar-track-color: #f0f0f0;
scrollbar-arrow-color: Gray;
scrollbar-darkshadow-color: #f0f0f0;
scrollbar-highlight-color: #f0f0f0;
scrollbar-shadow-color: #f0f0f0;
scrollbar-3dlight-color: #f0f0f0;
font-family: Verdana;
font-size: 10pt;
font-color:#000000;
}