body
{
	background:#000 url('http://admin.dnlab.ru/images/pass_send/pattern.gif');
	margin:0;


}
table
{
	margin:0;


}

.tbl-sts_top {
	background-image: url('http://admin.dnlab.ru/images/pass_send/top_bg.gif');
	background-repeat: repeat-x;
	background-position: top;
	height: 19px;
	background-position: 0% 13%

}
.tbl-sts_bottom {
	background-image: url('http://admin.dnlab.ru/images/pass_send/bottom_bg.gif');
	background-repeat: repeat-x;
	background-position: top;
	height: 19px;
	background-position: 0% 87%

}
.left_bg
{
	background-image: url('http://admin.dnlab.ru/images/pass_send/left_bg.gif');
	background-repeat: repeat-y;
	background-position: 10% 0%;



}
.tbl-sts_left {
height:100%;
}
.right_bg
{
	background-image: url('http://admin.dnlab.ru/images/pass_send/right_bg.gif');
	background-repeat: repeat-y;
	background-position: 90% 0%;

	width:10px;



}
.txt_button
{
	position:relative;
	top:-27px;
	left: 0px;


}
#email
{
    background-color: #fff;
    border: 0;
    width:150px;
	height:15px;
    color: #ccc;
    text-align:center;
}